/* src/pages/tasks/AnnotationCanvas.css */

.annotate-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.annotate-modal .modal-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.annotate-modal .modal-buttons {
    margin-top: 10px;
}

.annotate-modal .modal-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
}

/* Responsive container */
.annotation-container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    position: relative;
}
.captured-annotations {
    margin: 10px 0;
}
.captured-annotations ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}
.captured-annotations ul li {
    gap: 10px 30px;
    justify-content: space-between !important;
    align-items: center;
    background: #8080805c;
    padding: 10px 20px;
    border-radius: var(--round-conners);
}